body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#audioImage {
  cursor: pointer;
}

.battleship-index {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url("assets/battleship.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  font-family: "Montserrat", sans-serif;
}

#game-info {
  width: 45%;
  margin: auto;
  background-color: yellow;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.splash-title {
  font-family: "Bangers";
  font-size: 11rem;
  color: white;
  -webkit-text-stroke: 2px black;
}

.btn {
  background-color: #00aaff;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  color: white;
}

.btn:hover {
  background-color: #13558e;
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 500;
}

.background-juego {
  background-image: url("assets/battleship-background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.titulo {
  font-family: "Bangers";
  color: white;
  text-align: center;
  font-size: 5em;
  -webkit-text-stroke: 3px black;
  margin-top: 4%;
  margin-bottom: 1%
}

.celda {
  width: 40px;
  height: 40px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: border-box;
}

#contenedor-tableros {
  width: 45%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.tablero {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
}

#ordenador {
  cursor: pointer;
}

.tablero2 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-barcos {
  width: 500px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  opacity:0.9;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.submarine {
  background-color: hsl(0, 0%, 80%);
}

.submarine-preview {
  width: 20px;
  height: 20px;
  margin: 6px;
}

.destroyer {
  background-color: hsl(0, 0%, 80%);
}

.destroyer-preview {
  width: 40px;
  height: 20px;
  margin: 6px;
}

.cruiser {
  background-color: hsl(0, 0%, 80%);
}
.cruiser-preview {
  width: 60px;
  height: 20px;
  margin: 6px;
}

.battleship {
  background-color: hsl(0, 0%, 80%);
}

.battleship-preview {
  width: 80px;
  height: 20px;
  margin: 6px;
}

.carrier {
  background-color: hsl(0, 0%, 80%);
}

.carrier-preview {
  width: 100px;
  height: 20px;
  margin: 6px;
}

.hover {
  background-color: #64cbff;
  transition: 0.1s all;
}

.boom {
  background-image: url("assets/barco_impactado.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.empty {
  background-image: url("assets/barco_fallado.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
