body {
  margin: 0;
  overflow-x: hidden;
}

#audioImage {
  cursor: pointer;
}

.battleship-index {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url("assets/battleship.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  font-family: "Montserrat", sans-serif;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.splash-title {
  font-family: "Bangers";
  font-size: 11rem;
  color: white;
  -webkit-text-stroke: 2px black;
}

.btn {
  background-color: #00aaff;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  color: white;
}

.btn:hover {
  background-color: #13558e;
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 500;
}

/*  */

.celda {
  width: 40px;
  height: 40px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: border-box;
}

#contenedor-tableros {
  width: 45%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.tablero {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.tablero2 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-barcos {
  width: 500px;
  height: 50px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.submarine {
  background-color: green;
}

.submarine-preview {
  width: 20px;
  height: 20px;
  margin: 6px;
}

.destroyer {
  background-color: rgb(132, 255, 0);
}

.destroyer-preview {
  width: 40px;
  height: 20px;
  margin: 6px;
}

.cruiser {
  background-color: blue;
}
.cruiser-preview {
  width: 60px;
  height: 20px;
  margin: 6px;
}

.battleship {
  background-color: rgb(245, 1, 253);
}

.battleship-preview {
  width: 80px;
  height: 20px;
  margin: 6px;
}

.carrier {
  background-color: orange;
}

.carrier-preview {
  width: 100px;
  height: 20px;
  margin: 6px;
}

.hover {
  background-color: grey;
  transition: 0.5s all;
}

.boom {
  background-image: url("assets/punto.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  background-color: #84d2fa;
  pointer-events: none;
}

.botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
